[submodule "pa2"]
	path = pa2
	url = https://github.com/collinthornton/CS4323-Assign02.git
[submodule "final/code"]
	path = final/code
	url = https://github.com/collinthornton/cs4323_final_project.git
[submodule "pa2_bash_simulator"]
	path = pa2_bash_simulator
	url = https://github.com/collinthornton/CS4323-Assign02.git
[submodule "pa3_gym_simulator/code"]
	path = pa3_gym_simulator/code
	url = https://github.com/collinthornton/cs4323_final_project.git
